
- if listing
  #hcalendar-Public-Auction.vevent
    %a.url{ :href => listing_link_href(listing) }
      %span.summary= listing.nice_type
      %br
      %abbr.dtstart{ :title => listing.dtstart }= listing.starting
      %br
      %span.location== #{listing.street_address}, #{listing.city} #{listing.state}
