
- if listing
  .hcalendar-Public-Auction.vevent
    %span.summary= listing.nice_type
    %a.url{ :href => listing_link_href(listing) }
      %br
      %span.dtstart{ :title => listing.dtstart }= listing.starting
    %br
    %span.location== #{listing.street_address}, #{listing.city} #{listing.state}
