%h2
  Listings
- if @listings
  %ul.collection
    - @listings.each do |l|
      %li.collection-item
        %h4= l.starting_at.strftime("%Y-%m-%d")
        %span= "slug: #{l.slug}"
        %br
        %span= l.street_address
        %br
        %span= "#{l.city}, #{l.state} #{l.zip}"
        %br
        %a{ :class => "waves-effect waves-light btn", :href => "/admin/listings/#{l.id}" }
          %i.material-icons.right= "visibility#{l.page.visible ? "" : "_off"}"
          Edit
        %a{ :class => "waves-effect waves-light btn blue", :href => listing_link_href(l), :target => "_blank" } View
  = paginate @listings
- else
  %p
    No listings.
