!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title= "#{@title} :: Cooke's Auction Service"

    %link{ :href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet" }
    %link{ :rel => "stylesheet", :type => "text/css", :media => "screen", :href => "//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" }

  %body{ :id => @body_id }
    .container
      .row
        #header.row
          %h1.green-text.text-darken-4
            Cooke&rsquo;s Auction Service, Inc.
          %h4.green-text.text-darken-3
            It doesn&rsquo;t
            %em cost
            to hire a good auctioneer; It
            %strong.amber-text.text-darken-2 pays!

          = partial("admin_nav", :engine => :haml)
      #content
        - if flash[:error]
          .error= flash[:error]
        - if flash[:notice]
          .notice= flash[:notice]
        = yield

    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" }
    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js" }
