!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title= "#{@title} :: Cooke's Auction Service"

    %link{ :rel => "stylesheet", :type => "text/css", :media => "screen", :href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :media => "screen", :href => "//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/master.css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :media => "screen", :href => "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css", :charset => "utf-8" }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22377283-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{ :id => @body_id }
    .container
      .row
        #header.row
          %h1
            Cooke&rsquo;s Auction Service, Inc.
          %h2
            It doesn&rsquo;t
            %em cost
            to hire a good auctioneer; It
            %strong pays!

          %nav
            .nav-wrapper
              %ul#slide-out.side-nav
                %li{ :class => "active" }
                  %a{ :href => "/" } Home
                %li
                  %a{ :href => "/testimonials" } Testimonials
                %li
                  %a{ :href => "/past-sales" } Past sales
                %li
                  %a{ :href => "/contact-us" } Contact us
                - if @is_admin
                  %li
                    %a{ :href => "/admin" } Admin
              %a{ :href => "#", :data => { :activates => "slide-out" }, :class => "button-collapse" }
                %i.mdi-navigation-menu
              %ul.left.hide-on-med-and-down
                %li{ :class => "active" }
                  %a{ :href => "/" } Home
                %li
                  %a{ :href => "/testimonials" } Testimonials
                %li
                  %a{ :href => "/past-sales" } Past sales
                %li
                  %a{ :href => "/contact-us" } Contact us
                - if @is_admin
                  %li
                    %a{ :href => "/admin" } Admin
          %div
            %a{ :href => "/signup", :class => "waves-effect waves-light btn btn-info btn-raised"} Signup for our email list
        #content.row
          = styled_flash
          = yield
        #footer.row
          .right
            %a{ :href => "/unsubscribe" } Unsubscribe from mailing list
            %a{ :href => "/privacy" } Privacy
            %a{ :href => "http://jc00ke.com" } By an n-tier engineer
          \&reg; Cooke's Auction Service, Inc. &ndash;
          = Time.now.year

    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" }
    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js" }
    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js" }
    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" }
    %script{ :type => "text/javascript", :src  => "/javascripts/application.js" }
