!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %title= "#{@title} :: Cooke's Auction Service"

    %link{ :rel => "stylesheet", :type => "text/css", :media => "screen", :href => "//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" }
    :css
      blockquote {
        border-left: 5px solid #1B5E20;
      }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22377283-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{ :id => @body_id }
    .container
      .row
        #header.row
          %h1.green-text.text-darken-4
            Cooke&rsquo;s Auction Service, Inc.
          %h4.green-text.text-darken-3
            It doesn&rsquo;t
            %em cost
            to hire a good auctioneer; It
            %strong.amber-text.text-darken-2 pays!

          = partial(:_nav)
        #content.row
          = styled_flash
          = yield
        = partial(:_footer)

    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" }
    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js" }
    %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" }
    %script{ :type => "text/javascript", :src  => "/javascripts/application.js" }
