
%div{:id => "listing_#{@listing.id}"}
  #hcalendar-Public-Auction.vevent
    %span.summary= @listing.nice_type
    at
    %br
    %a.url{ :href => "#" }
      %abbr.dtstart{ :title => @listing.dtstart }= @listing.starting
    %br
    %span.location
      227 12th Street, Chesterton IN
    .description= markdown(@listing.page.content)

  - if @listing.has_photos?
    #listing_photos
      - @listing.photosish.each_slice(4) do |slice|
        -#%div
        - slice.each do |idx|
          = image_tag(@listing.slug, idx)

      
