
%h4 Past Sales

- @listings.each do |listing|

    #hcalendar-Public-Auction.vevent
        %span.summary= listing.sale_title
        %br
        %a.url{ :href => "/sale/#{listing.id}" }
            %abbr.dtstart{ :title => listing.dtstart }= listing.starting
        %br
        %span.location== #{listing.street_address}, #{listing.city} #{listing.state}
        .description= listing.page.description

    %hr
