%nav.green.lighten-1
  .nav-wrapper
    %ul#slide-out.side-nav
      %li{ :class => active("index") }
        = link_to "Home", "/"
      %li{ :class => active("testimonials") }
        = link_to "Testimonials", "/testimonials"
      %li{ :class => active("past_sales") }
        %a{ :href => "/past-sales" } Past sales
      %li{ :class => active("contact-us") }
        = link_to "Contact us", "/contact-us"
      %li{ :class => active("signup") }
        %a{ :href => "/signup" } Email list
    %a{ :href => "#", :data => { :activates => "slide-out" }, :class => "button-collapse" }
      %i.mdi-navigation-menu
    %ul.left.hide-on-med-and-down
      %li{ :class => active("index") }
        = link_to "Home", "/"
      %li{ :class => active("testimonials") }
        = link_to "Testimonials", "/testimonials"
      %li{ :class => active("past_sales") }
        %a{ :href => "/past-sales" } Past sales
      %li{ :class => active("contact-us") }
        = link_to "Contact us", "/contact-us"
      %li{ :class => active("signup") }
        %a{ :href => "/signup" } Email list
